<!-- BACK TO TOP -->
<a href="#" class="back-to"><i class="icon-arrow-up2"></i></a>
<!--BACK TO TOP =-->

<!--===== Header =====-->
<header class="layout_fifth">
<!--    <div id="header-top" >
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="p-font-15 p-white">Somos los mejores en el mercado.</p>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 text-right">
                    <div class="header-top-links">
                        <ul>
                                                        <li><a href="favorite_properties.html"><i class="icon-heart2"></i>Favoritos</a></li>
                                                        <li class="af-line"></li>
                                                        <li><a href="login.html"><i class="icon-icons215"></i>Sube tu Propiedad</a></li>
                                                        <li class="af-line"></li>
                                                        <li><a href="my_properties.html"><i class="icon-icons215"></i>Mi Perfil</a></li>
                            <li><a routerLink="/whatwedo"><i class="icon-icons215"></i>Publica tu Anuncio</a></li>
                            <li><a routerLink="/properties" class="header-login"><i class="icon-icons179"></i>Inicio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" routerLink="/home">
                            <img src="images/logo_center.png" class="logo logo-display" alt="">
                            <img src="images/logo_center_2.png" class="logo logo-scrolled" alt="">
                        </a>
                    </div>
                    <!-- End Header Navigation -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                            <li [routerLinkActive]="['active']">
                                <a routerLink="/home">Inicio</a>                                
                            </li>
                            <li [routerLinkActive]="['active']">
                                <a routerLink="/whatwedo">Qu&eacute; hacemos?</a>
                            </li>
                            <li [routerLinkActive]="['active']">
                                <a routerLink="/properties">Inmuebles</a>
                            </li>                            
                            <li [routerLinkActive]="['active']">
                                <a routerLink="/viewmap">Ver Mapa</a>
                            </li>                              
                            <li class="dropdown megamenu-fw">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">De Ocasion</a>
                                <ul class="dropdown-menu megamenu-content" role="menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-menu col-md-2">
                                                <h5 class="title">PROPERTIES LIST</h5>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li><a href="showcase_property.html">Properties List</a></li>
                                                        <li><a href="showcase_property.html">Single Property</a></li>
                                                        <li><a href="showcase_property.html">Search by City</a></li>
                                                        <li><a href="showcase_property.html">Search by Category</a></li>
                                                        <li><a href="showcase_property.html">Search by Type</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-menu col-md-2">
                                                <h5 class="title">PROPERTIES LIST</h5>
                                                <div class="content">
                                                    <ul class="menu-col">
                                                        <li><a href="showcase_property.html">Properties List</a></li>
                                                        <li><a href="showcase_property.html">Single Property</a></li>
                                                        <li><a href="showcase_property.html">Search by City</a></li>
                                                        <li><a href="showcase_property.html">Search by Category</a></li>
                                                        <li><a href="showcase_property.html">Search by Type</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-menu col-md-8">
                                                <div class="row">
                                                    <div id="nav_slider" class="owl-carousel">
                                                        <div class="item">
                                                            <div class="image bottom15"> 
                                                                <img src="images/nav-slider1.jpg" alt="Featured Property"> 
                                                                <span class="nav_tag yellow text-uppercase">for rent</span>
                                                            </div>
                                                            <h4><a href="#.">Park Avenue Apartment</a></h4>
                                                            <p>Towson London, MR 21501</p>
                                                        </div>
                                                        <div class="item">
                                                            <div class="image bottom15"> 
                                                                <img src="images/nav-slider2.jpg" alt="Featured Property"> 
                                                                <span class="nav_tag yellow text-uppercase">for rent</span>
                                                            </div>
                                                            <h4><a href="#.">Park Avenue Apartment</a></h4>
                                                            <p>Towson London, MR 21501</p>
                                                        </div>
                                                        <div class="item">
                                                            <div class="image bottom15"> 
                                                                <img src="images/nav-slider3.jpg" alt="Featured Property"> 
                                                                <span class="nav_tag yellow text-uppercase">for rent</span>
                                                            </div>
                                                            <h4><a href="#.">Park Avenue Apartment</a></h4>
                                                            <p>Towson London, MR 21501</p>
                                                        </div>
                                                        <div class="item">
                                                            <div class="image bottom15"> 
                                                                <img src="images/nav-slider1.jpg" alt="Featured Property"> 
                                                                <span class="nav_tag yellow text-uppercase">for rent</span>
                                                            </div>
                                                            <h4><a href="#.">Park Avenue Apartment</a></h4>
                                                            <p>Towson London, MR 21501</p>
                                                        </div>
                                                        <div class="item">
                                                            <div class="image bottom15"> 
                                                                <img src="images/nav-slider2.jpg" alt="Featured Property"> 
                                                                <span class="nav_tag yellow text-uppercase">for rent</span>
                                                            </div>
                                                            <h4><a href="#.">Park Avenue Apartment</a></h4>
                                                            <p>Towson London, MR 21501</p>
                                                        </div>
                                                        <div class="item">
                                                            <div class="image bottom15"> 
                                                                <img src="images/nav-slider3.jpg" alt="Featured Property"> 
                                                                <span class="nav_tag yellow text-uppercase">for rent</span>
                                                            </div>
                                                            <h4><a href="#.">Park Avenue Apartment</a></h4>
                                                            <p>Towson London, MR 21501</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li [routerLinkActive]="['active']">
                                <a routerLink="/contactus">Contactanos</a>
                            </li>
                            <li [routerLinkActive]="['active']">
                                <a routerLink="/fileupload">Contactanos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Header Top End -->
<router-outlet></router-outlet>
<!-- CONTACT -->
<section id="contact" class="bg-color-red">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="get-tuch">
                    <i class="icon-telephone114"></i>
                    <ul>
                        <li><h4>Numeros Telef&oacute;nicos</h4></li>
                        <li><p>+1 900 234 567 - 68</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="get-tuch">
                    <i class="icon-icons74"></i>
                    <ul>
                        <li>
                            <h4>Lima,</h4>
                        </li>
                        <li><p>Inmobiliario.pe, Per&uacute;</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="get-tuch">
                    <i class="icon-icons142"></i>
                    <ul>
                        <li><h4>Correo Electr&oacute;nico</h4></li>
                        <li><a href="#."><p>info@inmobiliario.com</p></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #/CONTACT -->

<!-- FOOTER -->
<footer id="footer" class="footer divider layer-overlay overlay-dark-8">
    <div class="container pt-70 pb-40">
        <div class="row border-bottom">
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <img class="mt-5 mb-20" alt="" src="images/logo.png">
                    <p>203, Name Labs, Behind Alis Steet, Melbourne, City Name.</p>
                    <ul class="list-inline mt-5">
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-gray" href="#">123-456-789</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i> <a class="text-gray" href="#">contact@yourdomain.com</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-color-2 mr-5"></i> <a class="text-gray" href="#">www.yourdomain.com</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h4 class="widget-title">Quick Links</h4>
                    <div class="small-title">
                        <div class="line1 background-color-white"></div>
                        <div class="line2 background-color-white"></div>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="list angle-double-right list-border">
                        <li> <a href="#">Home </a></li>
                        <li> <a href="#">Services </a></li>
                        <li> <a href="#">Pages</a></li>
                        <li> <a href="#">About Us </a></li>
                        <li> <a href="#">Blogs </a></li>
                        <li> <a href="#">Portfolio </a></li>
                        <li> <a href="#">Contact Us </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h4 class="widget-title ">Use Full Links</h4>
                    <div class="small-title">
                        <div class="line1 background-color-white"></div>
                        <div class="line2 background-color-white"></div>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="list list-border">
                        <li><a href="#">About</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Typography</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Our team</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h4 class="widget-title">Opening Hours</h4>
                    <div class="small-title">
                        <div class="line1 background-color-white"></div>
                        <div class="line2 background-color-white"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="opening-hourse">
                        <ul class="list-border">
                            <li class="clearfix">
                                <span> Mon - Tues : </span>
                                <div class="value pull-right"> 6.00 am - 10.00 pm </div>
                            </li>
                            <li class="clearfix">
                                <span> Wednes - Thurs :</span>
                                <div class="value pull-right"> 8.00 am - 6.00 pm </div>
                            </li>
                            <li class="clearfix">
                                <span> Fri : </span>
                                <div class="value pull-right"> 3.00 pm - 8.00 pm </div>
                            </li>
                            <li class="clearfix">
                                <span> Sun : </span>
                                <div class="value pull-right"> Closed </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-md-3 col-sm-4">
                <div class="widget dark">
                    <h5 class="widget-title mb-10">Call Us Now</h5>
                    <div class="text-gray"> +61 3 1234 5678
                        <br> +12 3 1234 5678 
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="widget dark">
                    <h5 class="widget-title mb-10">Connect With Us</h5>
                    <ul class="socials">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 text-right">
                <div class="mb20">
                    <form class="padding-top-30">
                        <input class="search" placeholder="Enter your Email" type="search">
                        <a href="#" class="button"><i class="icon-mail-envelope-open"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom bg-black-333">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-5">
                    <p class="font-11 text-black-777 m-0 copy-right">Copyright; 2016 <a href="#"><span class="color_red">IDEA HOMES</span></a>. All Rights Reserved</p>
                </div>
                <div class="col-md-6 col-sm-7 text-right">
                    <div class="widget no-border m-0">
                        <ul class="list-inline sm-text-center mt-5 font-12">
                            <li> <a href="#">FAQ</a> </li>
                            <li>|</li>
                            <li> <a href="#">Help Desk</a> </li>
                            <li>|</li>
                            <li> <a href="#">Support</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>