<section class="row" style="padding-bottom: 65px;">
    <div class="container">
        <div class="row center-block">
            <div class="col-xs-12 col-sm-12 col-md-8 ">
                <h2 class="ui dividing header">Registro de Alumnos</h2>
                <form class="ui form">
                    <div class="field">
                        <label>Nombres</label>
                        <input type="text" name="firstname" placeholder="Nombres" [(ngModel)]="model.firstname">
                    </div>
                    <div class="field">
                        <label>Apellidos</label>
                        <input type="text" name="lastname" placeholder="Apellidos" [(ngModel)]="model.lastname">
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            <label>Fecha de Nacimiento</label>
                            <div class="ui calendar" id="birthdate">
                                <div class="ui input left icon">
                                    <input type="text" name="birthdate" placeholder="Fecha de Nacimiento" readonly>
                                    <i class="calendar icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="eight wide field">
                            <label>Genero</label>
                            <div class="ui selection dropdown">
                                <input name="gender" type="hidden" [(ngModel)]="model.gender" (change)="model.gender = gender.value" #gender>
                                       <div class="default text">Genero</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="m">Hombre</div>
                                    <div class="item" data-value="f">Mujer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>E-mail</label>
                        <input type="text" name="email" placeholder="E-mail" [(ngModel)]="model.email">
                    </div>
                    <div class="field">
                        <label>Usuario o Apodo</label>
                        <input type="text" name="username" placeholder="Usuario o Apodo" [(ngModel)]="model.username">
                    </div>
                    <div class="field">
                        <label>Clave</label>
                        <input type="password" name="password" placeholder="Clave" [(ngModel)]="model.password">
                    </div>
                    <div class="field">
                        <label>Facebook</label>
                        <input type="text" name="facebook" placeholder="Enlace de Facebook" [(ngModel)]="model.facebook">
                    </div>
                    <!--                <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="active]" tabindex="0" class="hidden">
                                            <label>Activo</label>
                                        </div>
                                    </div>-->
                    <div class="field ">
                        <label>Clave Administrativa</label>
                        <div class="ui massive left icon input">
                            <input type="password" name="specialkey" placeholder="Clave Especial">
                            <i class="barcode icon"></i>
                        </div>
                    </div>
                    <button class="ui secondary button huge right labeled icon" type="submit" (click)="InitValidation($event)">
                        <i [ngClass]="(isLoading$ | async) ? 'notched circle loading icon' : 'right arrow icon'"></i>
                        Agregar Alumno
                    </button>
                    <!--<button [ngClass]="(isLoading$) ? 'ui loading primary button': 'ui secondary button'" type="submit" (click)="InitValidation()">Agregar Alumno</button>-->
                    <div class="ui error message"></div>
                </form>
            </div>

        </div>
    </div>
</section>
<div class="ui page dimmer">
    <div class="content">
        <div class="ui text large">
            <i class="{{message.icon}}"></i> {{message.text}}      
        </div>
    </div>
</div>