<!--  SLIDER  -->
<section class="rev_slider_wrapper">
    <div id="rev_full" class="rev_slider"  data-version="5.0">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade">
                <img src="images/banner-4.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
                <div class="tp-caption tp-resizeme"               
                     data-x="['center','center','center','center']" data-hoffset="['15','15','0','0']" 
                     data-y="['240','200','140','140']" data-voffset="['0','0','0','0']"
                     data-responsive_offset="on"
                     data-visibility="['on','on','on','on']"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"              
                     data-start="800">
                    <h2 class="border_heading p-white"> We Complete Your Dreams </h2>
                </div>
                <div class="tp-caption tp-resizeme"               
                     data-x="['center','center','center','center']" data-hoffset="['15','15','0','0']" 
                     data-y="['330','290','230','230']" data-voffset="['0','0','0','0']"
                     data-responsive_offset="on"
                     data-visibility="['on','on','on','off']"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"              
                     data-start="800">
                    <p class="p-white text-center">Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed
                        <br> varius at, adipiscing vitae est. Sed nec felis pellentesque</p>
                </div>
                <div class="tp-caption tp-resizeme"               
                     data-x="['center','center','center','center']" data-hoffset="['15','15','0','0']" 
                     data-y="['390','350','290','240']" data-voffset="['0','0','0','0']"
                     data-responsive_offset="on"
                     data-visibility="['on','on','on','on']"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"              
                     data-start="800">
                    <a href="#." class="btn_fill">Read More</a>
                    <a href="https://themeforest.net/item/idea-homes-real-estate-template/18809246" class="white_border">Buy Now</a>
                </div>
            </li>
            <li data-transition="fade">
                <img src="images/banner-5.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
                <div class="tp-caption tp-resizeme"               
                     data-x="['center','center','center','center']" data-hoffset="['15','15','0','0']" 
                     data-y="['240','200','140','140']" data-voffset="['0','0','0','0']"
                     data-responsive_offset="on"
                     data-visibility="['on','on','on','on']"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"              
                     data-start="800">
                    <h2 class="border_heading p-white"> We Complete Your Dreams </h2>
                </div>
                <div class="tp-caption tp-resizeme"               
                     data-x="['center','center','center','center']" data-hoffset="['15','15','0','0']" 
                     data-y="['330','290','230','230']" data-voffset="['0','0','0','0']"
                     data-responsive_offset="on"
                     data-visibility="['on','on','on','off']"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"              
                     data-start="800">
                    <p class="p-white text-center">Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed
                        <br> varius at, adipiscing vitae est. Sed nec felis pellentesque</p>
                </div>
                <div class="tp-caption tp-resizeme"               
                     data-x="['center','center','center','center']" data-hoffset="['15','15','0','0']" 
                     data-y="['390','350','290','240']" data-voffset="['0','0','0','0']"
                     data-responsive_offset="on"
                     data-visibility="['on','on','on','on']"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"              
                     data-start="800">
                    <a href="#." class="btn_fill">Read More</a>
                    <a href="https://themeforest.net/item/idea-homes-real-estate-template/18809246" class="white_border">Buy Now</a>
                </div>
            </li>
            <li data-transition="fade">
                <img src="images/banner-6.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
                <div class="tp-caption tp-resizeme"               
                     data-x="['center','center','center','center']" data-hoffset="['15','15','0','0']" 
                     data-y="['240','200','140','140']" data-voffset="['0','0','0','0']"
                     data-responsive_offset="on"
                     data-visibility="['on','on','on','on']"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"              
                     data-start="800">
                    <h2 class="border_heading p-white"> We Complete Your Dreams </h2>
                </div>
                <div class="tp-caption tp-resizeme"               
                     data-x="['center','center','center','center']" data-hoffset="['15','15','0','0']" 
                     data-y="['330','290','230','230']" data-voffset="['0','0','0','0']"
                     data-responsive_offset="on"
                     data-visibility="['on','on','on','off']"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"              
                     data-start="800">
                    <p class="p-white text-center">Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed
                        <br> varius at, adipiscing vitae est. Sed nec felis pellentesque</p>
                </div>
                <div class="tp-caption tp-resizeme"               
                     data-x="['center','center','center','center']" data-hoffset="['15','15','0','0']" 
                     data-y="['390','350','290','240']" data-voffset="['0','0','0','0']"
                     data-responsive_offset="on"
                     data-visibility="['on','on','on','on']"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"              
                     data-start="800">
                    <a href="#." class="btn_fill">Read More</a>
                    <a href="https://themeforest.net/item/idea-homes-real-estate-template/18809246" class="white_border">Buy Now</a>
                </div>
            </li> 
        </ul>
    </div>
</section>
<!--SLIDER --> 
<div id="scrolldiv" class="scrollefect">            
    <a href="#" data-ref="#home_icon"><span></span></a>
</div>
<!-- Home Icons Start -->
<div id="home_icon">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                <a href="listing_1.html" class="home_feature">
                    <i class="icon-icons215"></i>
                    <h4>A la Venta</h4>
                    <!--                    <p>Latest for sale</p>-->
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                <a href="my_properties.html" class="home_feature">
                    <i class="icon-key3"></i>
                    <h4>En Alquiler</h4>
                    <!--<p>Latest for sale</p>-->
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                <a href="gallery_1.html" class="home_feature">
                    <i class="icon-icons74"></i>
                    <h4>Zonas Centricas</h4>
                    <!--<p>Near the beach</p>-->
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                <a href="news_details.html" class="home_feature">
                    <i class="icon-stats-dots"></i>
                    <h4>Zonas Reducidas</h4>
                    <!--<p>Price reduced</p>-->
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                <a href="listing_3.html" class="home_feature">
                    <i class="icon-icons185"></i>
                    <h4>Busca un Agente</h4>
                    <!--<p>Ask an agent</p>-->
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                <a href="listing_2.html" class="home_feature">
                    <i class=" icon-clipboard"></i>
                    <h4>Vende tu Propiedad</h4>
                    <!--<p>Get in touch</p>-->
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Home Icons End -->


<!-- WELCOME -->
<section id="wellcome" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-md-2"></div>
            <div class="col-xs-12 col-sm-10 col-md-8 text-center">
                <h2 class="text-uppercase">Bienvenido a <span class="color_red">inmo.pe</span></h2>
                <p class="heading_space">Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing
                    vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.
                </p>
            </div>
            <div class="col-sm-1 col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <div class="welcome top40">
                    <img [defaultImage]="loaderImg" [lazyLoad]="'images/wellcome_1.png'" [offset]="100" alt="image">
                    <h4> 24/7 Soporte disponible</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <div class="welcome top40">
                    <img [defaultImage]="loaderImg" [lazyLoad]="'images/wellcome_2.png'" [offset]="100" alt="image">
                    <h4>Expertos y Profesionales</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <div class="welcome top40">
                    <img [defaultImage]="loaderImg" [lazyLoad]="'images/wellcome_3.png'" [offset]="100" alt="image">
                    <h4>Satisfacci&oacute;n y Garant&iacute;a</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <div class="welcome top40">
                    <img [defaultImage]="loaderImg" [lazyLoad]="'images/wellcome_4.png'" [offset]="100" alt="image">
                    <h4>Control e Inspecci&oacute;n</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #/WELCOME -->


<!-- ESTIMATE -->
<section id="estimate" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="estimate_image">
                    <img [defaultImage]="loaderImg" [lazyLoad]="'images/estimate.png'" [offset]="100" class="img-responsive" alt="image">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="estimate_form">
                    <h2 class="text-uppercase">Busca tu<span class="color_red"> Inmueble</span></h2>
                    <div class="line_1"></div>
                    <div class="line_2"></div>
                    <div class="line_3"></div>
                    <p>Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at,</p>
                    <div class="property-query-area top40">
                        <form class="findus">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="single-query">
                                        <input class="keyword-input" placeholder="Keyword (e.g. 'office')" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-query">
                                        <div class="intro">
                                            <select>
                                                <option selected="" value="any">Location</option>
                                                <option>Location - 1</option>
                                                <option>Location - 2</option>
                                                <option>Location - 3</option>
                                                <option>Location - 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-query">
                                        <div class="intro">
                                            <select>
                                                <option class="active">Property Type</option>
                                                <option>Property Type - 1</option>
                                                <option>Property Type - 2</option>
                                                <option>Property Type - 3</option>
                                                <option>Property Type - 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-query">
                                        <div class="intro">
                                            <select>
                                                <option class="active">Property Status</option>
                                                <option>Property Status - 1</option>
                                                <option>Property Status - 2</option>
                                                <option>Property Status - 3</option>
                                                <option>Property Status - 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row search-2">
                            <form class="findus">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="single-query">
                                                <div class="intro">
                                                    <select>
                                                        <option class="active">Min Beds</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="single-query">
                                                <div class="intro">
                                                    <select>
                                                        <option class="active">Min Baths</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="single-query">
                                                <input class="keyword-input" placeholder="Min Area (sq ft)" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="single-query">
                                                <input class="keyword-input" placeholder="Max Area (sq ft)" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="query-submit-button">
                                        <button type="submit" class="btn_fill">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #/ESTIMATE -->




<!-- BEST DEALS -->
<section id="property-listing" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 bottom40">
                <h2 class="text-uppercase">Proyectos de <span class="color_red">Estreno</span></h2>

                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
                <p>Aqu&iacute; podr&aacute;s encontrar el departamento de tus sueños.</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div id="listing_slider" class="owl-carousel">
                    <div class="item clearfix">
                        <div class="project1 clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 project-images">
                                <div class="gri">
                                    <figure class="effect-layla">
                                        <img src="images/b-d-property.jpg" alt="img"/>
                                        <figcaption> </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 project-owl-slidee padding-left-0 project-owl-slideee">
                                    <div class="item background-color-white">
                                        <h4>Residential Project-d05</h4>
                                        <div class="small-title">
                                            <div class="line1"></div>
                                            <div class="line2"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="client-loc">
                                            <p><span>Client:</span> Bryan Doe Joe</p>
                                            <p><span>Location:</span> Mountain Line CA 62548</p>
                                            <p><span>Value:</span> $15,000</p>
                                        </div>
                                        <a href="property_details_1.html" class="link_arrow">read more</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="project1 clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 project-images">
                                <div class="gri">
                                    <figure class="effect-layla">
                                        <img src="images/b-d-property-2.jpg" alt="img"/>
                                        <figcaption> </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 project-owl-slidee padding-left-0 project-owl-slideee">
                                    <div class="item background-color-white">
                                        <h4>Residential Project-d05</h4>
                                        <div class="small-title">
                                            <div class="line1"></div>
                                            <div class="line2"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="client-loc">
                                            <p><span>Client:</span> Bryan Doe Joe</p>
                                            <p><span>Location:</span> Mountain Line CA 62548</p>
                                            <p><span>Value:</span> $15,000</p>
                                        </div>
                                        <a href="property_details_1.html" class="link_arrow">read more</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="project1 clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 project-images">
                                <div class="gri">
                                    <figure class="effect-layla">
                                        <img src="images/b-d-property.jpg" alt="img"/>
                                        <figcaption> </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 project-owl-slidee padding-left-0 project-owl-slideee">
                                    <div class="item background-color-white">
                                        <h4>Residential Project-d05</h4>
                                        <div class="small-title">
                                            <div class="line1"></div>
                                            <div class="line2"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="client-loc">
                                            <p><span>Client:</span> Bryan Doe Joe</p>
                                            <p><span>Location:</span> Mountain Line CA 62548</p>
                                            <p><span>Value:</span> $15,000</p>
                                        </div>
                                        <a href="property_details_1.html" class="link_arrow">read more</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="project1 clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 project-images">
                                <div class="gri">
                                    <figure class="effect-layla">
                                        <img src="images/b-d-property-2.jpg" alt="img"/>
                                        <figcaption> </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 project-owl-slidee padding-left-0 project-owl-slideee">
                                    <div class="item background-color-white">
                                        <h4>Residential Project-d05</h4>
                                        <div class="small-title">
                                            <div class="line1"></div>
                                            <div class="line2"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="client-loc">
                                            <p><span>Client:</span> Bryan Doe Joe</p>
                                            <p><span>Location:</span> Mountain Line CA 62548</p>
                                            <p><span>Value:</span> $15,000</p>
                                        </div>
                                        <a href="property_details_1.html" class="link_arrow">read more</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BEST DEALS -->




<!-- Image & Text-->
<section id="image-text" class="padding-bottom-top-120">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="image-text-heading top30 bottom30">
                    <h2 class="bottom40">No solo hacemos <br><span>Negocios,</span> los Automatizamos</h2>
                    <a href="listing_1.html" class="link_arrow white_border top10">Ver Servicios</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image & Text End-->


<!-- RECENT PROPERTY -->
<section id="agent-p-2" class="property-details padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 bottom40">
                <h2 class="text-uppercase">Inmuebles <span class="color_red">Recientes</span></h2>
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
                <p class="margin-t-20">Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing
                    <br>vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div id="property-2-slider" class="owl-carousel">
                    <div class="item">
                        <div class="property_item bottom40">
                            <div class="image">
                                <img src="images/property-listing-1.jpg" alt="listin" class="img-responsive">
                                <div class="property_meta">
                                    <span><i class="fa fa-object-group"></i>530 sq ft </span>
                                    <span><i class="fa fa-bed"></i>2</span>
                                    <span><i class="fa fa-bath"></i>1 Bathroom</span>
                                </div>
                                <div class="price"><span class="tag">For Sale</span></div>
                                <div class="overlay">
                                    <div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>
                                </div>
                            </div>
                            <div class="proerty_content">
                                <div class="proerty_text">
                                    <h3><a href="property_details_1.html">House in New York City</a></h3>
                                    <span class="bottom10">Merrick Way, Miami, USA</span>
                                    <p><strong>$8,600 Per Month</strong></p>
                                </div>
                                <div class="favroute clearfix">
                                    <p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>
                                    <ul class="pull-right">
                                        <li><a href="#."><i class="icon-video"></i></a></li>
                                        <li><a href="#."><i class="icon-like"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="property_item bottom40">
                            <div class="image">
                                <img src="images/property-listing-2.jpg" alt="listin" class="img-responsive">
                                <div class="property_meta">
                                    <span><i class="fa fa-object-group"></i>530 sq ft </span>
                                    <span><i class="fa fa-bed"></i>2</span>
                                    <span><i class="fa fa-bath"></i>1 Bathroom</span>
                                </div>
                                <div class="price"><span class="tag">For Sale</span></div>
                                <div class="overlay">
                                    <div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>
                                </div>
                            </div>
                            <div class="proerty_content">
                                <div class="proerty_text">
                                    <h3><a href="property_details_1.html">House in New York City</a></h3>
                                    <span class="bottom10">Merrick Way, Miami, USA</span>
                                    <p><strong>$83,600,200</strong></p>
                                </div>
                                <div class="favroute clearfix">
                                    <p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>
                                    <ul class="pull-right">
                                        <li><a href="#."><i class="icon-video"></i></a></li>
                                        <li><a href="#."><i class="icon-like"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="property_item bottom40">
                            <div class="image">
                                <img src="images/property-listing-3.jpg" alt="listin" class="img-responsive">
                                <div class="property_meta">
                                    <span><i class="fa fa-object-group"></i>530 sq ft </span>
                                    <span><i class="fa fa-bed"></i>2</span>
                                    <span><i class="fa fa-bath"></i>1 Bathroom</span>
                                </div>
                                <div class="price"><span class="tag">For Rent</span></div>
                                <div class="overlay">
                                    <div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>
                                </div>
                            </div>
                            <div class="proerty_content">
                                <div class="proerty_text">
                                    <h3><a href="property_details_1.html">House in New York City</a></h3>
                                    <span class="bottom10">Merrick Way, Miami, USA</span>
                                    <p><strong>$8,600 Per Month</strong></p>
                                </div>
                                <div class="favroute clearfix">
                                    <p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>
                                    <ul class="pull-right">
                                        <li><a href="#."><i class="icon-video"></i></a></li>
                                        <li><a href="#."><i class="icon-like"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="property_item bottom40">
                            <div class="image">
                                <img src="images/property-listing-1.jpg" alt="listin" class="img-responsive">
                                <div class="property_meta">
                                    <span><i class="fa fa-object-group"></i>530 sq ft </span>
                                    <span><i class="fa fa-bed"></i>2</span>
                                    <span><i class="fa fa-bath"></i>1 Bathroom</span>
                                </div>
                                <div class="price"><span class="tag">For Rent</span></div>
                                <div class="overlay">
                                    <div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>
                                </div>
                            </div>
                            <div class="proerty_content">
                                <div class="proerty_text">
                                    <h3><a href="property_details_1.html">House in New York City</a></h3>
                                    <span class="bottom10">Merrick Way, Miami, USA</span>
                                    <p><strong>$8,600 Per Month</strong></p>
                                </div>
                                <div class="favroute clearfix">
                                    <p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>
                                    <ul class="pull-right">
                                        <li><a href="#."><i class="icon-video"></i></a></li>
                                        <li><a href="#."><i class="icon-like"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="property_item bottom40">
                            <div class="image">
                                <img src="images/property-listing-2.jpg" alt="listin" class="img-responsive">
                                <div class="property_meta">
                                    <span><i class="fa fa-object-group"></i>530 sq ft </span>
                                    <span><i class="fa fa-bed"></i>2</span>
                                    <span><i class="fa fa-bath"></i>1 Bathroom</span>
                                </div>
                                <div class="price"><span class="tag">For Sale</span></div>
                                <div class="overlay">
                                    <div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>
                                </div>
                            </div>
                            <div class="proerty_content">
                                <div class="proerty_text">
                                    <h3><a href="property_details_1.html">House in New York City</a></h3>
                                    <span class="bottom10">Merrick Way, Miami, USA</span>
                                    <p><strong>$8,60020</strong></p>
                                </div>
                                <div class="favroute clearfix">
                                    <p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>
                                    <ul class="pull-right">
                                        <li><a href="#."><i class="icon-video"></i></a></li>
                                        <li><a href="#."><i class="icon-like"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="property_item bottom40">
                            <div class="image">
                                <img src="images/property-listing-3.jpg" alt="listin" class="img-responsive">
                                <div class="property_meta">
                                    <span><i class="fa fa-object-group"></i>530 sq ft </span>
                                    <span><i class="fa fa-bed"></i>2</span>
                                    <span><i class="fa fa-bath"></i>1 Bathroom</span>
                                </div>
                                <div class="price"><span class="tag">For Rent</span></div>
                                <div class="overlay">
                                    <div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>
                                </div>
                            </div>
                            <div class="proerty_content">
                                <div class="proerty_text">
                                    <h3><a href="property_details_1.html">House in New York City</a></h3>
                                    <span class="bottom10">Merrick Way, Miami, USA</span>
                                    <p><strong>$8,600 Per Month</strong></p>
                                </div>
                                <div class="favroute clearfix">
                                    <p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>
                                    <ul class="pull-right">
                                        <li><a href="#."><i class="icon-video"></i></a></li>
                                        <li><a href="#."><i class="icon-like"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- RECENT PROPERTY -->


<!-- TEAM -->
<section id="our-agent" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center bottom40">
        <h2 class="text-uppercase bottom10">agents you can <span class="color_red">trust</span></h2>
        <div class="text-center seprator">
        <div class="line_4"></div>
        <div class="line_5"></div>
        <div class="line_6"></div>
        </div>
        <p>We have Properties in these Areas View a list of Featured Properties.</p>
      </div>
    </div>
    <div id="our-agent-slider" class="owl-carousel">
      <div class="item">
        <div class="single-effect">
          <figure class="ageent_overlay">
            <a href="#."><img src="images/agent-1.jpg" alt="img"></a>
            <figcaption class="view-caption">
              <a href=".team"><i class="icon-focus"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="team_text text-center">
          <h3>Brian Mady</h3>
          <span>sales executive</span>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
          <a href="#." class="link_arrow">Read More</a>
        </div>
      </div>
      <div class="item">
        <div class="single-effect">
          <figure class="ageent_overlay">
            <a href="#."><img src="images/agent-2.jpg" alt="img"></a>
            <figcaption class="view-caption">
              <a href=".team"><i class="icon-focus"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="team_text text-center">
          <h3>Micheal brayn</h3>
          <span>sales executive</span>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
          <a href="#." class="link_arrow">Read More</a>
        </div>
      </div>
      <div class="item">
        <div class="single-effect">
          <figure class="ageent_overlay">
            <a href="#."><img src="images/agen-s-3-1.jpg" alt="img"></a>
            <figcaption class="view-caption">
              <a href=".team"><i class="icon-focus"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="team_text text-center">
          <h3>Sarah de ron</h3>
          <span>sales executive</span>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
          <a href="#." class="link_arrow">Read More</a>
        </div>
      </div>
      <div class="item">
        <div class="single-effect">
          <figure class="ageent_overlay">
            <a href="#."><img src="images/agen-s-3-2.jpg" alt="img"></a>
            <figcaption class="view-caption">
              <a href=".team"><i class="icon-focus"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="team_text text-center">
          <h3>Norman Rays</h3>
          <span>sales executive</span>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
          <a href="#." class="link_arrow">Read More</a>
        </div>
      </div>
      <div class="item">
        <div class="single-effect">
          <figure class="ageent_overlay">
            <a href="#."><img src="images/agen-s-3-3.jpg" alt="img"></a>
            <figcaption class="view-caption">
              <a href=".team"><i class="icon-focus"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="team_text text-center">
          <h3>Brian Mady</h3>
          <span>sales executive</span>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
          <a href="#." class="link_arrow">Read More</a>
        </div>
      </div>
      <div class="item">
        <div class="single-effect">
          <figure class="ageent_overlay">
            <a href="#."><img src="images/agen-s-3-4.jpg" alt="img"></a>
            <figcaption class="view-caption">
              <a href=".team"><i class="icon-focus"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="team_text text-center">
          <h3>Micheal brayn</h3>
          <span>sales executive</span>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
          <a href="#." class="link_arrow">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- OUR PARTNERS -->
<section id="our-partner" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase">Nuestros <span class="color_red">Aliados</span></h2>
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
                <p class="bottom20">Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing
                    <br>vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="partner_slider_2" class="owl-carousel">
                    <div class="item"><img src="images/partner-1.png" alt="Our Partner"></div>
                    <div class="item"><img src="images/partner-2.png" alt="Our Partner"></div>
                    <div class="item"><img src="images/partner-3.png" alt="Our Partner"></div>
                    <div class="item"><img src="images/partner-4.png" alt="Our Partner"></div>
                    <div class="item"><img src="images/partner-5.png" alt="Our Partner"></div>
                    <div class="item"><img src="images/partner-1.png" alt="Our Partner"></div>
                    <div class="item"><img src="images/partner-2.png" alt="Our Partner"></div>
                    <div class="item"><img src="images/partner-3.png" alt="Our Partner"></div>
                    <div class="item"><img src="images/partner-4.png" alt="Our Partner"></div>
                    <div class="item"><img src="images/partner-5.png" alt="Our Partner"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #/OUR PARTNERS -->
<!--  TEAM POPUP  -->
<div class="container">
  <div id="team">
    <div class="row">
      <div class="col-md-2 hidden-xs"></div>
      <div class="col-md-8">
        <div class="team_popup">
          <button type="button" class="close">×</button>
          <div class="row">
            <div class="col-md-5">
              <div class="popup_image">
                <img src="images/team_popup.jpg" alt="image" />
              </div>
            </div>
            <div class="col-md-7">
              <div class="pop_text">
                <h3>Brian Mady</h3>
                <p>sales executive</p>
                <p class="top30 bottom30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Benenatis mauris. Vestibulum ante ipsum primis in industry, logistics, finance, business orci ultrices venenatis mauris.</p>
              </div>
              <div class="lebal">
                <p>Strategy</p>
                <p class="pull-right">100%</p>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width:36em; width: 100%;">
                </div>
              </div>
              <div class="lebal">
                <p>Design</p>
                <p class="pull-right">65%</p>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width:34em; width: 70%;">
                </div>
              </div>
              <ul class="socials">
                <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                <li><a href="#."><i class="fa fa-skype"></i></a></li>
                <li><a href="#."><i class="fa fa-youtube"></i></a></li>
                <li><a href="#."><i class="fa fa-instagram"></i></a></li>
                <li><a href="#."><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 hidden-xs"></div>
    </div>
  </div>
</div>
<!--  #/TEAM POPUP  -->