<div class="header-space"></div>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui red image header">
            <img src="images/imgs/main-badge.png" class="image">
            <div class="content">
                Inicia sesion en tu cuenta
            </div>
        </h2>
        <form class="ui form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail" [(ngModel)]="model.email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Clave" [(ngModel)]="model.password">
                    </div>
                </div>
                <button class="ui fluid button submit large right red labeled icon" type="submit" (click)="InitValidation($event)">
                        <i [ngClass]="(isLoading$ | async) ? 'notched circle loading icon' : 'right arrow icon'"></i>
                        Iniciar
                    </button>
            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui message">
            Eres nuevo? <a routerLink="/register">Registrate</a>
        </div>
    </div>
</div>